* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2e2e2e; /* Cor de fundo escura */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd; /* Cor do texto geral */
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #870bda;
    transition: 0.4s;
}

a:hover {
    color: chartreuse;
    transition: 0.4s;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: #1e1e1e; /* Cor de fundo do container */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}

header {
    background-color: #37015a; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

header h1 {
    margin: auto;
    font-size: 2.5em;
}

article {
    margin: 20px 0;
}

article h2 {
    color: #870bda; /* Cor dos títulos das seções */
    font-size: 1.8em;
    margin-bottom: 10px;
}

article p {
    line-height: 1.6;
    color: white; /* Cor do texto dos parágrafos */
    font-size: 1.1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #37015a;
}

img {
    width: 50px;
    height: auto;
}