/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(130deg, #000000, #7d1d91); /* Gradiente de preto para roxo escuro diagonal */
    color: #e0ffe0; 
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed; /* Fixa o header na tela independente da rolagem */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f002d; 
    color: #d4ffd4; 
    padding: 15px 20px;
    text-align: center;
    z-index: 999;
}

.social-media {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); /* Centraliza os ícones na horizotal */
    display: flex;
    gap: 20px;
}

.social-media a i {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    transition: 0.3s;
}

.social-media a i:hover {
    color: #9443d8;
    border: 1px solid #9443d8;
    transform: scale(1.1);
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

header h1 {
    color: #00eea2; 
    margin-bottom: 40px; 
}

/* Seção sobre */
section {
    margin-top: 100px;
    text-align: center;
}

section h2 {
    color: #00eea2; 
    margin-bottom: 15px;
}

section p, section ol, section ul {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    background-color: #29093b; 
    border: 2px solid #66ffb3; 
    border-radius: 10px; 
    color: #e0ffe0; 
}

/* Lista ordenada e não ordenada */
ol, ul {
    margin: 0 auto; 
    padding: 20px; 
    max-width: 600px; 
    background-color: #29093b; 
    border: 2px solid #66ffb3; 
    border-radius: 10px; 
    color: #e0ffe0; 
    text-align: left; 
}

li {
    margin-bottom: 10px;
    list-style-type: none; 
}

li::before {
    content: '• ';
    color: #66ffb3; 
}

/* Projetos */
.projects {
    padding: 70px 0 70px;
}

.projects h2 {
    color: #00eea2
}

.projects .title {
    text-align: center;
    padding: 60px 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
}

.projects .container-projects {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.projects .project {
    max-width: 260px;
    max-height: 500px;
    position: relative;
    display: block;
}

.projects .project img {
    height: 100%;
}

.projects .project h3 {
    background-color: #040203;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
}

.projects .project .project-info {
    background-color: #040203;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding: 20px;
}

.projects .container-projects .project:hover .project-info {
    opacity: 0.7;
    background-color: #000;
}

.projects .btn-show-projects {
    background: none;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    width: 180px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    text-align: center;
}

table th, table td {
    padding: 10px;
    border: 1px solid #66ffb3; 
}

thead {
    background-color: #1f002d; 
    color: #aaffaa; 
}

tbody td {
    color: #e0ffe0; 
}

footer {
    background-color: #330249; 
    color: #d4ffd4; 
    text-align: center;
    padding: 15px;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer div p {
    margin: 5px 0;
}

footer a {
    color: #00eea2;
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover {
    color: #7d1d91;
    transition: 0.3s;
}