/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(130deg, #000000, #7d1d91); /* Gradiente de preto para roxo escuro na diagonal */
    color: #e0ffe0; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    flex-direction: column; 
}

h1 {
    color: #00eea2;
    margin-bottom: 20px;
    text-align: center;
}

/* Formulário */
form {
    background-color: #29093b; /* Cor de fundo da borda */
    border: 2px solid #66ffb3; 
    border-radius: 10px; 
    padding: 20px;
    max-width: 600px; 
    width: 100%; /* Largura total do contêiner principal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #e0ffe0; 
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #66ffb3;
    border-radius: 5px;
    background-color: #1f002d; 
    color: #e0ffe0; 
    margin-bottom: 10px;
}

textarea {
    resize: vertical; /* Deixa o usuário redimensionar verticalmente */
}

fieldset {
    border: 1px solid #66ffb3; 
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #29093b; /* Cor de fundo do campo de texto */
}

legend {
    color: #00eea2; 
    font-weight: bold;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #66ffb3; 
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #266e5e; 
}

/* Ícone de Navegação Voltar */
.nav {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #1f002d; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Garante que o ícone fique acima do restante do conteúdo */
}

.nav a {
    color: #66ffb3; 
    text-decoration: none; 
    font-size: 24px;
}

.nav a:hover {
    color: #00eea2; 
}

/* Responsividade */
@media (max-width: 768px) {
    form {
        padding: 15px;
        max-width: 90%; /* Ajusta a largura máxima para dispositivos menores como celulares */
    }
}

@media (max-width: 480px) {
    label {
        font-size: 14px; /* Ajusta o tamanho da fonte para dispositivos menores que um celular atual */
    }

    input[type="text"], input[type="email"], textarea {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}